<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-light">
    <a class="navbar-brand" href="#">מי.את.ה</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <button mat-button [matMenuTriggerFor]="menu" *ngIf="(loggedInUser$ | async)?.username !== 'admin'">
            <mat-icon class="header-icon" [matBadge]="msgNumber" matBadgeColor="warn" matBadgePosition="above after">sms
            </mat-icon>
        </button>

        <div mat-button class="user-profile" [matMenuTriggerFor]="userMenu">
            <span class="material-icons header-icon user-icon">
                account_circle
            </span>
            <div class="user-profile-details" *ngIf="(loggedInUser$ | async)">
                <span class="user-name"> {{(loggedInUser$ | async)?.username}} </span>
                <span class="user-details"  *ngIf="(loggedInUser$ | async)?.username !== 'admin'">
                    {{(loggedInUser$ | async)?.nation?.name}} |
                    {{(loggedInUser$ | async)?.religion?.name}}
                </span>
            </div>
        </div>
    </div>
</nav>

<mat-menu #menu="matMenu">
    <div class="chat-list-history">
        <div mat-menu-item class="chat-item" *ngFor="let chat of notifications" (click)="goToChatPage(chat.receiverId)">
            <div class="row">
                <div class="col-2">
                    <div>
                        <span class="material-icons header-icon user-icon">
                            account_circle
                        </span>
                    </div>
                </div>
                <div class="col chat-details">
                    <span><strong>{{chat.receiverId.username}}</strong></span>
                    <span>{{chat.msgId.message[chat.msgId.message.length-1].body}}</span>
                </div>
                <div class="col text-end">
                    <div class="new-message-indication" *ngIf="!chat.msgId.message[chat.msgId.message.length-1].isRead 
                    && chat.receiverId._id !== chat.msgId.message[chat.msgId.message.length-1].receiverId">
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-menu>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item [routerLink]="['/setting']" *ngIf="(loggedInUser$ | async)?.username === 'admin'">
        <mat-icon>settings</mat-icon>
        <span>ניהול מערכת</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>התנתקות</span>
    </button>
</mat-menu>