.people-card {

    .card-title {
        font-size: 22px;
        font-weight: bold;
    }

    // .card-text {
    //     color:;
    // }

    .chat-btn-wrapper {
        text-align: center;
    }

}
.online-indication{
    height: 5px;
    width: 5px;
    background-color:green;
}