<div class="container wrapper">
    <div class="row">

        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="progress" *ngIf="showSpinner">
                <div class="indeterminate"></div>
            </div>

            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center"> התחברות כאורח.ת</h5>

                    <div class="text-center">
                        <mat-error *ngIf="errorMessage">{{errorMessage}} </mat-error>
                    </div>

                    <form class="form-signin" [formGroup]="guestLoginForm" novalidate (ngSubmit)="guestLogin()">
                        <div class="form-group">
                            <label for="groupList">שם תצוגה</label>
                            <input id="user-name" type="type" class="form-control" placeholder="הקלד.י שם תצוגה"
                                required autofocus formControlName="username" autocomplete="off">
                            <mat-error
                                *ngIf="guestLoginForm.controls['username'].invalid && guestLoginForm.controls['username'].touched">
                                שם משתמש זה שדה חובה</mat-error>
                        </div>

                        <div class="form-group">
                            <label for="groupList">קבוצה</label>

                            <select class="form-control" formControlName="nation" id="groupList" required>
                                <option value="">בחר קבוצה...</option>
                                <option *ngFor="let nation of nations" [ngValue]="nation">{{nation.name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="subGroupList">תת קבוצה</label>
                            <select class="form-control" formControlName="religion" id="subGroupList" required>
                                <option *ngFor="let religion of religions" value="{{religion._id}}">{{religion.name}}
                                </option>
                            </select>
                        </div>

                        <hr class="my-4">
                        <button class="btn btn-lg btn-primary btn-block" type="submit"
                            [disabled]="!guestLoginForm.valid">
                            כניסה
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>